*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:linear-gradient(135deg,#667eea,#764ba2);

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

}

.container{

background:white;

padding:30px;

width:450px;

border-radius:12px;

box-shadow:0px 10px 25px rgba(0,0,0,.3);

}

h1{

text-align:center;

margin-bottom:20px;

}

label{

display:block;

margin-top:12px;

font-weight:bold;

}

input,select{

width:100%;

padding:10px;

margin-top:5px;

border-radius:8px;

border:1px solid #ccc;

}

button{

width:100%;

padding:12px;

margin-top:18px;

border:none;

background:#4CAF50;

color:white;

font-size:17px;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#2E7D32;

}

.reset{

background:#f44336;

}

.reset:hover{

background:#b71c1c;

}

#bill{

margin-top:20px;

background:#f4f4f4;

padding:15px;

border-radius:10px;

line-height:28px;

}